server:
  port: 8080

spring:
  application:
    name: micro-gateway
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:5173"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
      routes:
        # Ruta para Micro-Usuarios
        - id: usuarios-route
          uri: http://micro-usuarios:8182
          predicates:
            - Path=/api/v1/usuarios/**, /api/v1/tipos-usuario/**, /auth/**

        # Ruta para Micro-Core
        - id: core-route
          uri: http://micro-core:8181
          predicates:
            - Path=/api/v1/productos/**, /api/v1/categorias/**

        # Ruta para Micro-Carrito
        - id: carrito-route
          uri: http://micro-carrito:8180
          predicates:
            - Path=/api/v1/carrito/**, /api/v1/boletas/**